.center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.customButton(@width, @color){
    width: @width;
    background-color: @color;
    font-size: 1.5rem
}

.artistLink {
    text-decoration: none;
    color: black;
    font-size: @titleSize;
    text-align:center;
}